---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"

  >
    <Fragment slot="title">
      Elevate Your eCommerce Experience <br />
      <span class="text-accent dark:text-white highlight"> with Icon Pillar</span>
    </Fragment>

    <Fragment slot="subtitle">
      Welcome to Icon Pillar, where innovation and passion converge to redefine the landscape of digital marketing and e-commerce. Founded by Sangeetha Mathiyazhahan, Icon Pillar is more than just a company — it's a testament to perseverance, ambition, and the pursuit of a fulfilling career and family life.
      <br/><br/>
      Fast forward to today, and Icon Pillar embodies Sangeetha's vision for a thriving e-commerce venture. We envision a future where our digital marketing initiatives not only serve valuable customers but also create opportunities for talented individuals from rural communities. Our mission is to empower aspiring entrepreneurs and students with the tools they need to succeed in the digital economy.
      <br/><br/>
      At Icon Pillar, we invite you to be part of our community of dreamers and doers. Join us as we navigate the dynamic world of digital marketing and e-commerce, paving the way for a brighter future for ourselves and the next generation of innovators.


    </Fragment>

  </Hero>

  

  <!-- Stats Widget ****************** 

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Clients Served', amount: '10' },
      { title: 'Global Reach', amount: '248' },
      { title: 'Templates', amount: '12' },
      { title: 'Awards', amount: '24' },
    ]}
  />
--> 

 </Layout>
