---
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Seach Engine Optimization - Icon Pillar',
};
---

<Layout metadata={metadata}>
  <!-- Content Widget **************** -->
  <Hero
    tagline="Shopify SEO Services"

  >
    <Fragment slot="title">
        <span class="text-accent dark:text-white highlight"> Shopify </span>SEO Services 
    </Fragment>

    <Fragment slot="subtitle">
      Unlock the full potential of your Shopify store with our comprehensive SEO services. At Icon Pillar, we specialize in eCommerce SEO strategies designed to increase your online visibility, drive organic traffic, and boost sales. <br/><br/>Our expert team understands the unique challenges and opportunities of the Shopify platform, and we're here to help your store rank higher in search engine results.      
      <br/><br/>
      Search Engine Optimization (SEO) is crucial for any online store. With thousands of Shopify stores competing for attention, effective SEO can set you apart. Properly optimizing your Shopify store ensures that potential customers can easily find your products when they search online, leading to increased traffic and higher conversion rates.
    </Fragment>

  </Hero>
  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Comprehensive SEO Audit',
        description:
          'We start with a thorough audit of your Shopify store to identify strengths, weaknesses, and opportunities for improvement. Our audit covers: On-page SEO analysis, Technical SEO assessment,  Backlink profile review, Content quality evaluation',
        icon: 'tabler:presentation',
      },
      {
        title: 'Keyword Research and Strategy',
        description:
          'Understanding what your customers are searching for is key to driving traffic. We perform extensive keyword research to identify high-value search terms relevant to your products and industry. Our strategy includes: Identifying primary and secondary keywords, Long-tail keyword targeting, Competitive analysis',
        icon: 'tabler:world-search',
      },
      {
        title: 'On-Page SEO Optimization',
        description:
          'We optimize your Shopify store’s content and structure to improve search engine rankings. Our on-page SEO services include: Title tags and meta descriptions optimization, Product descriptions and category pages enhancement, Image optimization (alt tags, file names), Internal linking structure improvement',
        icon: 'tabler:seo',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Our Shopify SEO Services</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      
      {
        title: 'Technical SEO',
        description:
          'A technically sound website is critical for SEO success. We address any technical issues that may be hindering your site’s performance, including: Site speed optimization, Mobile-friendliness, Fixing broken links and 404 errors, Schema markup implementation',
        icon: 'tabler:code',
      },
      {
        title: ' Content Creation and Optimization',
        description:
          'Quality content is essential for engaging your audience and ranking well in search engines. We provide: Blog posts and articles, Product and category page content, SEO-friendly copywriting, Content refresh and optimization',
        icon: 'tabler:blockquote',
      },
      {
        title: 'Link Building',
        description:
          'Building a strong backlink profile is crucial for domain authority. Our link-building strategies include: Outreach to industry-relevant websites, Guest blogging, High-quality directory submissions, Social media engagement.',
        icon: 'tabler:link',
      },
      {
        title: 'Local SEO',
        description:
          'For Shopify stores with a physical presence, local SEO is vital. We optimize your store to attract local customers through: Google My Business optimization, Local keyword targeting, Local citations and directories, Reviews and ratings management',
        icon: 'tabler:current-location',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Benefits Image',
    }}
  >
  </Content>
</Layout>
